.container {
    padding: 15px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.information {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    white-space: nowrap;
}

.top {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.bottom {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}